.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
}

.align-items-stretch {
  align-items: stretch;
}

.pad-15 {
  padding: 15px;
}

.flex-parent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.widget {
  display: block;
  margin-bottom: 25px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 15px;

  :last-of-type {
    margin-bottom: 0px;
  }
}

#header {
  background-color: #333333;
  color: #FFF;
  height: 60px;

  #coffee-logo {
    height: 50px;
  }
}

#body {
  flex: 1;

  #left-column {
    width: 20%; 

    .widget {
      height: calc(~'50% - 12.5px');
    }
  }
  #center-column {
    width: 60%;

    .widget {
      height: 100%;
    }
  }
  #right-column {
    width: 20%;

    .widget {
      height: 100%;
    }
  }
}

#footer {
  padding: 15px;
}