<div class="flex-parent">
  <div id="header">
    <img id="coffee-logo" src="assets/coffee.png">
  </div>
  <div id="body" class="flex">
    <div id="left-column" class="pad-15">
      <div class="widget"><drink-type-widget></drink-type-widget></div>
      <div class="widget"><roast-widget></roast-widget></div>
    </div>
    <div id="center-column" class="pad-15">
      <div class="widget"><coffee-purchases-widget></coffee-purchases-widget></div>
    </div>
    <div id="right-column" class="pad-15">
      <div class="widget"><favorite-coffee-brands-widget></favorite-coffee-brands-widget>
    </div>
    </div>
  </div>
</div>