@import "./assets/primeng.less";

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  background-color:@purple;
}

body {
  font-family: 'Avenir Next', Verdana, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

.widget .ui-widget {
  font-family: 'Avenir Next', Verdana, Arial, Helvetica, sans-serif;
}

@purple: #2A1B3D;
@dark-green: #1B3D3A;
@medium-purple: #44318D;
@medium-green: #657773;
@light-purple: #8074E9;
@light-green: #A4B3B6;
@hot-pink: #D83F87;
@orange: #F6B26E;
